/* body {
    
} */

.grid {
    width: 600px;
    height: 600px;
    background-color: linen;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.demon {
    width: 70px;
    height: 70px;
    background-image: url(fireball.sprites/flamedemon.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 265px;
    left: 260px;
}

.fireballLeft {
    position: absolute; 
    width: 150px;
    height: 150px;
    background-image: url(fireball.sprites/red/gif.gif);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    top: 200px;
    left: -100px;
    border-radius: 50%;
  }

.fireballTop {
    position: absolute; 
    width: 150px;
    height: 150px;
    background-image: url(fireball.sprites/red/gif.gif);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(270deg);
    top: -100px;
    left: 260px;
    border-radius: 50%;
  }

  .fireballBottom {
    position: absolute; 
    width: 150px;
    height: 150px;
    background-image: url(fireball.sprites/red/gif.gif);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    bottom: -110px;
    left: 190px;
    border-radius: 50%;
  }

.fireballRight {
    position: absolute; 
    width: 150px;
    height: 150px;
    background-image: url(fireball.sprites/red/gif.gif);
    background-size: contain;
    background-repeat: no-repeat;
    top: 270px;
    right: -100px;
    border-radius: 50%;
  }
  
 
button {
    position: absolute;
    top: 20px;
    left: 20px;
}
