body {
    
}

.grid {
    width: 600px;
    height: 600px;
    background-color: green;
    margin: 0 auto;
    position: relative;
}

.fireballLeft {
    position: absolute; 
    width: 100px;
    height: 100px;
    /* background-color: orangered; */
    background-image: url(fireball.sprites/red/keyframes/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 280px;
    left: 10px;
    border-radius: 50%;
  }

.fireballTop {
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: orangered;
    background-image: url(/fireball.sprites/red/keyframes/1.png);
    top: 10px;
    left: 280px;
    border-radius: 50%;
  }

  .fireballBottom {
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: orangered;
    background-image: url(/fireball.sprites/red/keyframes/1.png);
    bottom: 10px;
    left: 280px;
    border-radius: 50%;
  }

.fireballRight {
    position: absolute; 
    width: 50px;
    height: 50px;
    background-color: orangered;
    background-image: url(/fireball.sprites/red/keyframes/1.png);
    top: 280px;
    right: 10px;
    border-radius: 50%;
  }
  
 
button {
    position: absolute;
    top: 20px;
    left: 20px;
}
